/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
	line-height: 1.8;
}

h1, h2, h3, h4 {
  font-family: "GillSans-Light", "Gill Sans", "Avenir Next";
  letter-spacing: 0.1rem;
}

p, div {
  font-family: "Avenir Next", Helvetica, sans-serif;
}

h1 {
	font-size: 5rem;
}

a, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

li {
	list-style: none;
	font-size: 110%;
}

/*odd sections*/
section:nth-child(2n+1){
  background-color: rgb(10,18,20);
  color: #FAFAFA;
}

/*even sections*/
section:nth-child(2n){
  background-color: #FAFAFA;
  color: rgb(10,18,20);
}


#home {
  position: relative;
}

#home .home-box {
  max-width: 700px;
  text-align: right;
  border-right: solid 2px white;
  padding-right: 7%;
  margin-bottom: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15%;
}

#home ul {
  margin: 0;
}

#home ul li {
  margin: inherit;
  font-size: 1.8rem;
}

.work-img {
	position: relative;
  float: left;
  width:  100%;
  height: 220px;
	margin: 10px auto;
	background: no-repeat 0% 0%/cover;
}

.sub-col > div {
	display: inline-block;
	height: 22.73px;
	width: 140px;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 3px;
	display: inline-block;
	border-radius: 15px;
}

.black {
	background-color: rgb(30, 30, 30);
}

.white {
	background-color: white;
}

a:hover {
	color: rgb(70, 70, 70);
}

.work-img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/* Hamburger menu animation from Code Pen https://codepen.io/designcouch/pen/Atyop */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
#nav-icon2 {
  width: 40px;
  height: 10.5px;
  margin: 10px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  width: 50%;
  background: rgb(120,120,120);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

#overlay {
	background-color: rgba(10,18,20, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000;
}

#overlay ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#overlay ul li {
	font-size: 4rem;
  font-family: "GillSans-Light", "Gill Sans", "Avenir Next";
	text-align: center;
	color: white;
	line-height: 2.75;
}

#overlay a {
	width: 100%;
	display: inline-block;
}

#overlay a:hover {
	color: rgba(255, 255, 255, 0.5);
}


/* ---- Layout Containers ---- */
section {
  height: 100vh;
  width: 100%;
	padding: 7% 7% 7% 12%;
  display: table;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
	display: table-cell;
	vertical-align: middle;
  max-width: 850px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sub-col {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

footer {
	width: 100%;
  text-align: center;
  padding: 3%;
	color: rgb(120, 120, 120);
  background-color: rgb(10,18,20);
}


#skills .container .row, #about .container .row  {
  justify-content: space-around;
  align-items: flex-start;
}


/*For all media larger than 769px (media other than mobile)*/
@media only screen and (min-width: 769px) {

	h1 {
    font-size: 400%;
  }
	h2 {
    font-size: 320%;
  }
	h3 {
    font-size: 240%;
  }

  #home .home-box {
    margin-bottom: 7%;
    margin-right: 7%;
  }

	#home h1 {
		font-size: 500%;
	}

  #nav-icon2 {
    width: 60px;
    height: 45px;
    margin: 50px;
  }

  #nav-icon2 span {
  height: 9px;
  }

  #home ul li {
    font-size: 180%;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
  }

	#overlay ul li a {
		font-size: 120%;
	}

}
