* {
	font-family: "Avenir Next", Helvetica, sans-serif;
  box-sizing: border-box;
	text-align: left;
	/*border-width: thin;
	border-color: black;
	border-style: solid;*/
}

body {
  margin: 0;
}

header {
	color: pink;
	margin-left: auto;
	margin-right: auto;
}

section {
  height: 100vh;
  width: 100%;
  padding: 7%;
  display: table;
  margin: 0;
  max-width: none;
}

section:nth-child(even) {
  background-color: rgb(51,51,51);
  color: white;
}

section:nth-child(odd) {
  background-color: white;
  color: rgb(51,51,51);
}

footer {
	background-color: rgb(77,77,77);
	/*height: 50px;*/
	width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  text-align: center;
  padding: 2rem 0rem;
}



h1, h2, h3 {
	font-family: "proxima-nova", "Avenir", Helvetica, "sans-serif";
}

h1 {
	font-size: 3em;
}

a, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

p {
	text-align: left;
	/*max-width: 100%;*/
	line-height: 200%;
}

li {
	list-style: none;
	height: 22px;
}
#about-h1 {
	text-align: left;
	/*max-width: 100%;*/
	margin: 0px;
	/*line-height: 200%;*/

}

/*.four.columns {

	display: flex;
	justify-content: center;
	min-width: 300px;
	width: 30.6666666667%;
	display: inline-block;
}

.eight.columns {
	min-width: 300px;
	width: 65.3333333333%;
	display: inline-block;
}*/

.work-img {
  /*width: 100%;
	height: auto;
  display: inline-block;*/
	position: relative;
  float: left;
  width:  100%;
  height: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
  background-position: 0% 0%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.work-img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#title {
	text-align: center;
	font-size: 400%;
	text-decoration: none;
}

#about-img {
	height: 200px;
	width: 320px;
	/*max-width: 35%;*/
	min-width: 35%;
	background-image: url("../images/about.svg");
	/*background-size: cover;*/
	background-repeat: no-repeat;
}

.black {
	height: 15px;
	width: 15px;
	background-color: rgb(31,31,31);
	border-radius: 15px;
	margin: 3px;
	display: inline-block;
}
.white {
	height: 15px;
	width: 15px;
	background-color: white;
	border-radius: 15px;
	margin: 3px;
	display: inline-block;
}

.sub-col > div {
	display: inline-block;
	height: 22.73px;
	width: 140px;
}

/*#copyright {
	text-align: center;
}*/

/*.circle-container {
	height: 30px;
	width: 140px;
}*/
