/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
  /*border: solid 1px black;*/

}

body {
	font-family: "Avenir Next", Helvetica, sans-serif;
  margin: 0;
	line-height: 1.8;
}

h1 {
	font-size: 5rem;
}

a, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

li {
	list-style: none;
	font-size: 110%;
}

#home {
	/*background: black url('../images/background.jpg') no-repeat 50% 0%/cover;*/
  color:  white;
  vertical-align: center;
  background-color: black;
}

#home .row {
  /*justify-content: space-around;*/
  margin-top: 50%;
  max-width: 850;
  text-align: right;
  border-right: solid 2px white;
  display: block;

  /*margin: 0;*/
}
#home h1 {
  width: 70%;
  /*display: inline-block;*/
  /*margin-top: 0;*/
  /*padding-right: 10%;*/
  /*border-right: solid 2px white;*/
}

#home .vertical-line {
  border-left: 3px solid white;
  height: 180px;
  padding-left: 30px;
  margin-left: 30px;
  display: none;
}

#home ul {
  margin: 0;
}

#home ul li {
  margin: inherit;
  font-size: 1.8rem;
}

#about {
	background-color: rgba(180, 188, 177, 1); /*green tea green*/
	color: rgba(23, 31, 44, 1); /*almost black*/
}

#skills {
	background-color: rgba(23, 31, 44, 0.8); /*almost black*/
	color: white;
}

#work {
	background-color:  rgba(206, 200, 187, 0.2); /*off white*/
	color: rgba(23, 31, 44, 1); /*almost black*/
}

.work-img {
	position: relative;
  float: left;
  width:  100%;
  height: 220px;
	margin: 10px auto;
	background: no-repeat 0% 0%/cover;
}

.sub-col > div {
	display: inline-block;
	height: 22.73px;
	width: 140px;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 3px;
	display: inline-block;
	border-radius: 15px;
}

.black {
	background-color: rgba(23, 31, 44, 0.4);
}

.white {
	background-color: white;
}

a:hover {
	color: rgba(23, 31, 44, 0.5);
}

.work-img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

nav {
  position: fixed;
  top: 0;
  left: 0;
	z-index: 10000;
  margin: 1rem;
}

nav img {
  height: 3.5rem;
}

#overlay {
	background-color: rgba(20, 20, 20, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000;
}

#overlay ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#overlay ul li {
	font-size: 4rem;
	text-align: center;
	color: white;
	line-height: 2.75;
}

#overlay a {
	width: 100%;
	display: inline-block;
}

#overlay a:hover {
	color: rgba(255, 255, 255, 0.5);
}


/* ---- Layout Containers ---- */
section {
  height: 100vh;
  width: 100%;
	padding: 7% 7% 7% 12%;
  display: table;
  margin: 0;

}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
	display: table-cell;
	vertical-align: middle;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sub-col {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

footer {
	width: 100%;
	color: rgba(23, 31, 44, 0.8); /*almost black*/
  text-align: center;
  padding: 3%;
	background-color: rgb(120, 120, 120);
}


#skills .container .row, #about .container .row  {
  justify-content: space-around;
  align-items: flex-start;
}


/*For all media larger than 769px (media other than mobile)*/
@media (min-width: 769px) {

	h1 {
    font-size: 400%;
  }
	h2 {
    font-size: 320%;
  }
	h3 {
    font-size: 240%;
  }

  #home .row {
    /*justify-content: space-around;*/
    border: none;
    display: flex;
  }

	#home h1 {
		font-size: 500%;
	}

  #home .vertical-line {
    display: block;
  }


  #home li {
    text-align: left;
    font-size: 200%;
  }


  .container{
    max-width: 850px;
  }

	#overlay ul li a {
		font-size: 120%;
	}

	nav {
		padding: 2rem;
	}
	nav img {
		height: 5rem;
	}

}
