section {
  height: 100vh;
  width: 100%;
	padding: 7% 10.5% 7% 10.5%;
  display: table;
  margin: 0;
  max-width: none;
}

footer {
	background-color: rgb(77,77,77);
	width: 100%;
  color: #c8c8c8;
  background-color: #505150;
  text-align: center;
  padding: 2rem 0rem;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sub-col {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

#skills .container .row {
  justify-content: space-around;
  align-items: flex-start;
}

#about .container .row {
  align-items: flex-start;
}
