.container {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#skills .container .row {
  justify-content: space-around;
  align-items: flex-start;
}

.col {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items:baseline;
}

.sub-col {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.column {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  max-width: 55%;
}
