nav {
  position: fixed;
  top: 0;
  left: 0;
	z-index: 100;
  margin: 1%;
}

nav img {
  height: 4rem;
  margin-bottom: 1rem;
}

nav ul {
  display: none;
  /*padding: 0;*/
  /*list-style: none;*/
  clear: both;
  color: black;
}

nav ul li ul {
  margin-left: 1rem;
}

nav:hover ul {
  display: block;
}

/*nav ul li {
	z-index: 1000;
}*/
