/*For all media larger than 420px (media other than mobile)*/
/*TODO: increase screen width minimums, change font to rems or ems, test on mobile with Chro developer tools*/
@media all and (min-width: 420px) {
	#home .container h1 {
		font-size: 500%;
	}
	h1 {
    font-size: 400%;
  }
	h2 {
    font-size: 320%;
  }
	h3 {
    font-size: 240%;
  }
  .container{
    max-width: 850px;
  }
  section{
    max-width: 100%;
  }
}

a:hover {
	color: rgb(150,150,150);
}

nav:hover ul {
  display: block;
}

.work-img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
